/* Tambahkan gaya untuk tampilan grid pada desktop */
@media (min-width: 768px) {
    .card {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .card-body {
        flex: 1;
    }
}

.navbar {
    background-color: black;
}

/* Custom styles for the search bar */
.search-bar-container {
    background-color: black;
    padding: 10px;
    border-radius: 5px;
}

/* Adjusting the search input and button styles */
.search-bar-container .form-control {
    color: #000;
}

.search-bar-container .btn {
    color: white;
}

.footer {
    background-color: black;
}

.col-md-3 img {
width: 30px; /* Set the desired width */
height: auto;
margin-right: 10px/* Maintain the aspect ratio */
}

